*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.font-zero {
  display: none;
}

.clear {
  clear: both;
}

.container {
  width: 100%;
  float: left;
}

.content {
  width: 92%;
  float: left;
  margin: 0 4%;
  padding: 20px 0;
}

body {
  height: 1500px;
}

.header {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header h1 {
  font-family: "Roboto", sans-serif;
  color: #f00;
  display: inline;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header h1 span {
  font-size: .7em;
  font-weight: 500;
  color: #69d86e;
}

main {
  margin-top: 78px;
}

.banner {
  width: 100%;
  height: 500px;
  background: #dddddd;
}
